body {
    background-image: url(Assets/Media/seattle-background-640x415.jpg);
    min-width: 1250px;
  }

h1 {
  /* Reference https://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html */
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
  font: 65px 'ChunkFiveRegular';
  float: right;
  margin-top: 75px;
  margin-right: 167px;
  /* color: whitesmoke; */
}

/* Page's Introduction. */
#instruct {
  top: 25px;
  left: 25px;
  margin-top: 258px;
  margin-right: 97px;
  text-align: center;
  color:rgb(221, 221, 221);
  font-size: 1em;
}

.intro {
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
  font: 'ChunkFiveRegular';
  float: right;
}

#title {
  font-family: Cursive;
  text-align: center;
  font-size: 5em;
  color: rgb(221, 221, 221);
  margin-bottom: 22px;
  text-shadow: -1px 1px 0 #000;
}

.outOfSight {
  display: none !important;
}

/* Quiz Container Styles. */
#quizTime {
  margin-left: auto;
  margin-right: 50px;
  display: inline-flex;
}

#goToScoreboard {
  cursor: context-menu;
  color: rgb(221, 221, 221);
  margin-left: 20px;
  text-decoration: none;
}

#goToScoreboard:hover {
  background-color:#408c99;
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

/* Button Styles */
.knock {
  font-size: 1.5em;
  padding: 5px;
  width: 25%;
}

#choiceSection {
  display: flex;
  justify-content: center;
}

.choices {
  flex-flow: column wrap;
  width: 50%;
  margin: 10px;
  font-size: 1.05em;
}

.ownIt {
  border: 5px groove silver;
}

#total {
  box-shadow: 3px 4px 0px 0px #21548a;
	background:linear-gradient(to bottom, #21c2b5 5%, #3847f0 100%);
	background-color:#21c2b5;
	border-radius:18px;
	border:1px solid #19cf92;
	display:inline-block;
	cursor:pointer;
	color:rgba(255,255,255,0);;
	font-family: 'Dynalight', cursive;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #360580;
}

#total:hover {
  background:linear-gradient(to bottom, #3847f0 5%, #21c2b5 100%);
	background-color:#3847f0;
}

#redoBtn {
  box-shadow: 3px 4px 0px 0px #19cf92;
	background:linear-gradient(to bottom, #3847f0 5%, #21c2b5 100%);
	background-color:#360580;
	border-radius:18px;
	border:1px solid #21548a;
	display:inline-block;
	cursor:pointer;
	color:rgba(255,255,255,0);
	font-family: 'Dynalight', cursive;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3847f0;
}

#redoBtn:hover {
  background:linear-gradient(to bottom, #21c2b5 5%, #3847f0 100%);
	background-color:#21c2b5;
}

#total:active, #redoBtn:active {
  position:relative;
	top:1px;
}