body {
  background-image: url(../Media/seattle-background-640x415.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hideElement {
  display: none;
}

h1 {
  /* Reference https://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html */
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
  font: 65px 'ChunkFiveRegular';
  float: right;
  margin-top: 30px;
  margin-right: 167px;
}

.quizContainer {
  align-items: center;
  float: right;
  text-align: center;
}

/* <============================================ Page's Introduction. ===================================================> */
#instruct {
  top: 25px;
  left: 25px;
  margin-top: 422px;
  margin-right: 187px;
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 1em;
  font-variant-caps: petite-caps, unicase;
}

.intro {
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
  font: 'ChunkFiveRegular';
  float: right;
}

#title {
  font-family: Cursive;
  text-align: center;
  font-size: 2.5em;
  color: #ccc2a6;
  text-shadow: -2px 2.3px 0 #000;
  background-image: url(../Media/dykf.jpg);  background-repeat: no-repeat;
  border: 1px;
  border-radius: 50%;
  background-position: center; background-size: 100;
}

/* <==================================================== Quiz ===========================================================> */
/* Timer, Score, and High Score headers. */
#quizHeader {
  margin: 5px;
  align-items: center;
  text-align: center;
  color: #fff;
	text-shadow: 0px -1px 4px rgb(255, 255, 255), 0px -2px 10px rgb(0, 255, 234), 0px -10px 20px #0084ff, 0px -18px 40px #006eff;
  font-weight: bolder;
  font-size: 45px;
}

#quizTime { /* Timer */
  margin-top: 52px;
  margin-right: 100px;
  align-items: center;
  text-align: center;
  color: #fff;
	text-shadow: 0px -1px 4px rgb(255, 255, 255), 0px -2px 10px rgb(0, 255, 234), 0px -10px 20px #0084ff, 0px -18px 40px #006eff;
  font-weight: bolder;
  font-size: 45px;
}

/* User's Current Score */
#qScore {
  margin-top: 52px;
  margin-right: 125px;
  align-items: center;
  text-align: center;
  font: 60px 'BlackJackRegular';
}

/* Q & A */
#quiz {
  margin-top: 200px;
  margin-right: 100px;
  align-items: center;
  text-align: center;
}

#Q {
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgb(221, 221, 221); /* rgba(255,255,255,0) Hard to read questions.  I need to adjust text-shadow.*/
  background:linear-gradient(to bottom,rgba(255,255,255,0)  5%, #292b2e 100%);
  background:linear-gradient(to bottom, #292b2e 5%,  rgba(255,255,255,0) 100%);
  font-size: 55px;
  /* margin-top: 205px;
  margin-right: 100px; */
  align-items: center;
  text-align: center;
}

#choiceSection {
  margin-top: 210px;
  margin-right: 100px;
  align-items: center;
  text-align: center;
}


/* <========================================== End of Quiz & List of Scores. ============================================> */
#goToScoreboard { /* Fred's Chaps */
  cursor: context-menu;
  color: rgb(221, 221, 221);
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
}

#goToScoreboard:hover {
  background-color: #408c99;
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

#beat {
  width: 100%;
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 1em;
}

#endQuiz {
  display: flex;
  max-width: 100%;
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 1em;
}

.ownIt {
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 1em;
}

/* <============================================= Button Styles =========================================================> */
/* Ref. https://www.bestcssbuttongenerator.com/ */
#knock {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color: #eae0c2;
	border-radius: 25px;
	border: 2px solid #333029;
	display: inline-block;
	cursor: context-menu;
	color: #505739;
	font-family: 'Dynalight', cursive;
	font-size: 22px;
	font-weight: bold;
	padding: 12px 16px;
	text-decoration: none;
	text-shadow: 0px 1px 0px 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
}

.knock:hover {
	background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color: #ccc2a6;
}

.knock:active {
	position: relative;
	top: 1px;
}

#choiceSection {
  display: flex;
  justify-content: center;
}

.choices {
	box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: rgb(221, 221, 221);
	font-family: 'Tangerine', Serif;
	font-size: 35px;
	font-weight: bolder;
	padding: 13px 32px;
	text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  opacity: 0.85;
}

.choices:hover {
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.choices:active {
	position: relative;
	top: 1px;
}

.ownIt {
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  border: 5px groove silver;
}

#total {
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

#total:hover {
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

#redoBtn {
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  box-shadow: 3px 4px 0px 0px #19cf92;
	background: linear-gradient(to bottom, #3847f0 5%, #21c2b5 100%);
	background-color: #360580;
	border-radius: 18px;
	border: 1px solid #21548a;
	cursor: context-menu;
	color: rgba(255,255,255,0);
	font-family: 'Dynalight', cursive;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3847f0;
}

#redoBtn:hover {
  background: linear-gradient(to bottom, #21c2b5 5%, #3847f0 100%);
	background-color: #21c2b5;
}

#total:active, #redoBtn:active, #top   {
  position: relative;
	top: 1px;
}

#beat {
  margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
}

#top {
  box-shadow: 3px 4px 0px 0px #21548a;
	background: linear-gradient(to bottom, #21c2b5 5%, #3847f0 100%);
	background-color: #21c2b5;
	border-radius: 18px;
	border: 1px solid #19cf92;
	margin-top: 350px;
  margin-right: 350px;
  align-items: center;
  text-align: center;
	cursor: context-menu;
	color: rgba(255,255,255,0);;
	font-family: 'Dynalight', cursive;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #360580;
}

#top:hover {
  background: linear-gradient(to bottom, #3847f0 5%, #21c2b5 100%);
	background-color: #3847f0;
}

/* Scoring Displays */
#chapsScores {
  margin-top: 350px;
  margin-right: 370px;
  align-items: center;
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 1em;
  list-style-type: none;
}

#correct {
  color: rgb(221, 221, 221);
  border-radius: 5px;
  margin: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

#correctPic {
  background-image: url('../Media/choiceReactions_future project/really.jpg');
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#incorrect {
  color:rgb(221, 221, 221);
  border-radius: 5px;
  margin: 2em;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#incorrectPic {
  background-image: url('../Media/choiceReactions_future project/noWay.jpg');
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}